asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==2.0.12
Django==5.1.4
django-admin-honeypot-updated-2021==1.2.0
django-appconf==1.0.6
django-compressor==4.5.1
django-ipware==7.0.1
idna==3.10
Pillow==8.4.0
python-decouple==3.5
python-ipware==3.0.0
pytz==2024.2
rcssmin==1.1.2
requests==2.26.0
rjsmin==1.2.2
setuptools==75.6.0
sqlparse==0.5.3
urllib3==1.26.20
