{% extends 'base.html' %}
{% block content %}

<section class="flex flex-col justify-start items-center h-screen bg-gray-50 pb-20">
  <div class="w-full bg-white rounded-md mt-20 py-20 sm:max-w-xl ">
    <div class="flex flex-col gap-5 justify-center items-center">
      <div class="text-center">
        <h4 class="text-lg leading-3 text-gray-900 font-semibold mb-4">Reset password</h4>
        <p class="text-gray-500">Create new Passowrd to secure your account.</p>
      </div>
      {% include 'includes/alerts.html' %}
      <form action="{% url 'resetPassword' %}" method="POST" class="mt-5 w-[70%] space-y-3">
        {% csrf_token %}
        <div class="form-group">
          <input type="password" name="password" id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full focus:ring-orange-600 focus:border-orange-600 block p-4"
            placeholder="Passowrd" required="">
        </div>
        <div class="form-group">
          <input type="password" name="confirm_password" id="confirm_password"
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full focus:ring-orange-600 focus:border-orange-600 block p-4"
            placeholder="Confirm Password" required="">
        </div>

        <button type="submit" class="text-white bg-orange-500 py-3 rounded  w-full uppercase">
          Reset Passowrd
        </button>
      </form>
      <p class="text-center text-gray-500 dark:text-gray-400">
        You didn’t forget your password?
        <a href="{% url 'login' %}" class="font-medium text-orange-600 hover:underline dark:text-orange-500">
          Login
        </a>
      </p>
    </div>
  </div>

  <p class="text-center mt-4">
    Don't have account?
    <a href="{% url 'register' %}" class="font-medium text-orange-600 hover:underline dark:text-orange-500">Sign up</a>
  </p>
</section>
{% endblock %}